.loader-wrapper{
    width: 60px;
    height: 60px;
    border-radius: 50%;
   
position: relative;
}
.loader{
    border: 4px solid transparent;
    border-top-color: #f15f5f;
    border-bottom-color: #08a885;
animation: spin 1s ease-in-out infinite;
top: 0;
left: 0;
width: 100%;
height: 100%;
border-radius:inherit;
}
@keyframes spin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.loader-inner{
    top: 5px;
    left: 5px;
    bottom: 5px;
    right: 5px;
    border-radius: 50%;
    border: 4px solid transparent;
    border-top-color: #f15f5f;
    border-bottom-color: #08a885;
    position: absolute;
animation: spinAntiClockwise 1s ease-in-out infinite;
}
@keyframes spinAntiClockwise{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(-360deg);
    }
}