<div class="skeletool" data-animate="fade">
  <div class="skeletool-banner"></div>
</div>
<div class="skeletool" data-animate="fade">
  <div class="skeletool-line"></div>
</div>
<div
  class="skeletool skeletool-container"
  data-skeletool=""
  data-animate="fade"
>
  <div class="skeletool-card">
    <div class="skeletool-image"></div>
    <div class="skeletool-text-wrapper">
      <div class="skeletool-text"></div>
      <div class="skeletool-text"></div>
      <div class="skeletool-text"></div>
    </div>
    <div class="skeletool-wrapper skeletool-flex">
      <div class="skeletool-avatar skeletool-round"></div>
      <div class="skeletool-text"></div>
    </div>
  </div>
  <div class="skeletool-card">
    <div class="skeletool-image"></div>
    <div class="skeletool-text-wrapper">
      <div class="skeletool-text"></div>
      <div class="skeletool-text"></div>
      <div class="skeletool-text"></div>
    </div>
    <div class="skeletool-wrapper skeletool-flex">
      <div class="skeletool-avatar skeletool-round"></div>
      <div class="skeletool-text"></div>
    </div>
  </div>
  <div class="skeletool-card">
    <div class="skeletool-image"></div>
    <div class="skeletool-text-wrapper">
      <div class="skeletool-text"></div>
      <div class="skeletool-text"></div>
      <div class="skeletool-text"></div>
    </div>
    <div class="skeletool-wrapper skeletool-flex">
      <div class="skeletool-avatar skeletool-round"></div>
      <div class="skeletool-text"></div>
    </div>
  </div>
  <div class="skeletool-card">
    <div class="skeletool-image"></div>
    <div class="skeletool-text-wrapper">
      <div class="skeletool-text"></div>
      <div class="skeletool-text"></div>
      <div class="skeletool-text"></div>
    </div>
    <div class="skeletool-wrapper skeletool-flex">
      <div class="skeletool-avatar skeletool-round"></div>
      <div class="skeletool-text"></div>
    </div>
  </div>
</div>
