
   <div class="container">
      <div class="cards-container">
         <h2 class="title">Category: {{category}}</h2>

         <div class="card" *ngFor="let article of articles">
            <div class="card-image-wrapper">
               <img src="{{article.heroImage}}" alt="" class="card-image">
            </div>
            <div class="card-details">
               <h2 class="card-title">
                  <a (click)="goToPage(['article',article.slug])">

                     {{article.title}}
                  </a>
               </h2>
               <div class="card-meta">
                  <span class="card-meta-category">{{article.category}}</span>
                  <div class="divider"></div>
             <time class="card-meta-pubdate">{{article.publishedAt}}</time>
            </div>
               
               <div class="card-desc" [innerHTML]="shortenText(article.content)">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint reprehenderit perspiciatis pariatur modi v

                  </div>
      </div>
      </div>
   </div>
</div>
<ng-http-loader  [minDuration]="300"  [backdropBackgroundColor]="'#fff'" [backgroundColor]="'yellow'" [opacity]="'1'"></ng-http-loader>

   