

   <div class="container">
      <div class="header" >
         <div class="header-bg" style="background-image:url(https://images.pexels.com/photos/718324/pexels-photo-718324.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260) ;">
         
            <h2 class="title">Category: <span class="title-text"> {{category}}</span> </h2>
         </div>

      </div>
      <div class="cards-container">

         <div class="card" *ngFor="let article of articles">
            <div class="card-image-wrapper">
               <img src="{{article.heroImage}}" alt="" class="card-image">
            </div>
            <div class="card-details">
               <h2 class="card-title">
                  <a (click)="goToPage(['article',article.slug])">

                     {{article.title}}
                  </a>
               </h2>
               <div class="card-meta">
                  <span class="card-meta-category">{{article.category}}</span>
                  <div class="divider"></div>
             <time class="card-meta-pubdate">{{article.publishedAt|dateFormatter}}</time>
            </div>
               
               <div class="card-desc" [innerHTML]="article.content|textShortener">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint reprehenderit perspiciatis pariatur modi v

                  </div>
      </div>
      </div>
   </div>
</div>

   