<div class="social-share-container">
  <button
    class="social-share-btn"
    *ngFor="let social of socials"
    attr.data-social="{{ social.name }}"
    attr.data-url="{{ social.url }}"
    attr.data-text="{{ social.text }}"
    (click)="shareToSocial($event)"
  >
    <i
      class="social-share-icon devicon-{{ social.name }}-plain {{
        social.name
      }}"
    ></i>
  </button>
  <!-- <button class="social-share-btn">
    <i class="social-share-icon devicon-twitter-plain twitter"></i>
  </button>--->
  <button class="social-share-btn">
    <i class="social-share-icon material-symbols-rounded">link</i>
  </button>
</div>
