<style>
   @import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
</style>


   <div class="post-container" attr.data-post-id="{{singlePost.id}}">
      <!--   <div class="breadcrumb-wrapper">
       <a href="">home</a> > <a href="">category</a> > <span>article title</span>
    </div> -->
      <div class="post-title">
         <h2>{{singlePost.title}}</h2>
      </div>

      <div class="post-author">
         <div class="post-author-image-wrapper">
            <img src="https://images.pexels.com/photos/769772/pexels-photo-769772.jpeg?cs=srgb&dl=pexels-jeffrey-reed-769772.jpg&fm=jpg" alt="" class="post-author-image">
         </div>
         <div class="post-author-name"><a href="">lucky victory</a></div>
         <div class="post-author-socials">
            <a href="" class="post-share-btn"><i class="devicon-github-plain colored"></i></a>
            <a href="" class="post-share-btn"><i class="devicon-twitter-plain colored"></i></a>
            <a href="" class="post-author-social-icons"><i class="devicon-linkedin-plain colored"></i></a>

         </div>
      </div>

      <div class="post-pub-info">
         <div class="flex ai-c">

            <div class="post-pub-date">{{formatDate(singlePost.publishedAt)}}</div>
            <div class="post-pub-read-time">{{singlePost.readTime}} min read</div>
         </div>
         <div class="post-pub-views ">
            <i class="material-icons-outlined">visibility</i>
            <span>{{singlePost.views}}</span>
         </div>
      </div>
      <div class="flex jc-sb ai-c">
         <div class="post-tags-wrapper" >
            <a href="" *ngFor="let tag of singlePost.tags" class="post-tag">{{tag}}</a>
         
         </div>
         <div class="post-share-btns-wrapper">
            <button class="post-share-btn material-icons-outlined share-icon">share</button>
            <div class="post-share-btns-inner">
               <a href="" class="post-share-btn"><i class="devicon-facebook-plain colored"></i></a>
               <a href="https://twitter.com/share?url=/post/{{singlePost.slug}} " target="_blank" class="post-share-btn"><i class="devicon-twitter-plain colored"></i></a>
               <a [routerLink]="['/post',singlePost.slug]" class="post-share-btn material-icons-outlined">link</a>
            </div>
         </div>
      </div>
   
      <div class="post-hero-image-wrapper">
      <img src="{{singlePost.heroImage}}" alt="" class="post-hero-image" />
      </div>
      <div class="post-content" [innerHtml]="singlePost.body | safeHtml">
   
      </div>
   </div>
<router-outlet></router-outlet>