<p>single-post works!</p>
   <div class="post-container">
      <!--   <div class="breadcrumb-wrapper">
       <a href="">home</a> > <a href="">category</a> > <span>article title</span>
    </div> -->
      <div class="post-title">
         <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
      </div>

      <div class="post-author">
         <div class="post-author-image-wrapper">
            <img src="https://images.pexels.com/photos/769772/pexels-photo-769772.jpeg?cs=srgb&dl=pexels-jeffrey-reed-769772.jpg&fm=jpg" alt="" class="post-author-image">
         </div>
         <div class="post-author-name"><a href="">lucky victory</a></div>
         <div class="post-author-socials">
            <a href="" class="post-share-btn"><i class="devicon-github-plain colored"></i></a>
            <a href="" class="post-share-btn"><i class="devicon-twitter-plain colored"></i></a>
            <a href="" class="post-share-btn"><i class="devicon-linkedin-plain colored"></i></a>

         </div>
      </div>

      <div class="post-pub-info">
         <div class="flex ai-c">

            <div class="post-pub-date">mar 10 2022</div>
            <div class="post-pub-read-time">2 min read</div>
         </div>
         <div class="post-pub-views ">
            <i class="material-icons-outlined">visibility</i>
            <span>25</span>
         </div>
      </div>
      <div class="flex jc-sb ai-c">
         <div class="post-tags-wrapper">
            <a href="" class="post-tag">nodejs</a>
            <a href="" class="post-tag">javascript</a>
            <a href="" class="post-tag">api</a>
         </div>
         <div class="post-share-btns-wrapper">
            <button class="post-share-btn material-icons-outlined share-icon">share</button>
            <div class="post-share-btns-inner">
               <a href="" class="post-share-btn"><i class="devicon-facebook-plain colored"></i></a>
               <a href="" class="post-share-btn"><i class="devicon-twitter-plain colored"></i></a>
               <a href="" class="post-share-btn material-icons-outlined">link</a>
            </div>
         </div>
      </div>
      <div class="post-hero-image-wrapper">
         <img src="https://images.pexels.com/photos/4240511/pexels-photo-4240511.jpeg?cs=srgb&dl=pexels-ivan-samkov-4240511.jpg&fm=jpg" alt="" class="post-hero-image" />
      </div>
      <div class="post-content">

         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eveniet non modi consequatur repudiandae consequuntur culpa veritatis dolore voluptatum, ullam tenetur architecto esse nulla dolores impedit, quisquam, error omnis officiis accusamus quia vero facilis ducimus hic perferendis. Ipsum, totam doloribus.</p>

         <blockquote>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti sed nemo impedit unde beatae earum tenetur doloremque officiis harum quod!
         </blockquote>
      </div>
   </div>
<router-outlet></router-outlet>