<style>
   @import url('https://fonts.googleapis.com/icon?family=Material+Icons+Outlined');
</style>


   <div class="post-container" attr.data-post-id="{{singleArticle.id}}">
    <app-back-navigate></app-back-navigate>
      <!--   <div class="breadcrumb-wrapper">
       <a href="">home</a> > <a href="">category</a> > <span>article title</span>
    </div> -->
    <!-- <div *ngIf="singleArticle !=null"> -->
       <div class="post-title">
          <h1>{{singleArticle.title}}</h1>
         </div>
         
         <div class="post-author ">
            <div class="author-image-wrapper">
               <a (click)="goToPage(['author/',singleArticle.author.username])" class="author-link"></a>
               <img src="{{singleArticle.author.profileImage}}" alt="" class="author-image">
            </div>
            <div class="flex flex-d-col">
               
               <div class="author-name"><a (click)="goToPage(['author/',singleArticle.author.username])">{{singleArticle.author.fullname}} </a>
         <div class="author-socials flex ai-c gap-05r">
            <a href="" class="post-share-btn"><i class="devicon-github-plain colored"></i></a>
            <a href="" class="post-share-btn"><i class="devicon-twitter-plain colored"></i></a>
            <a href="" class="post-share-btn"><i class="devicon-linkedin-plain colored"></i></a>
             
         </div>
         </div>
         
         <div class="post-pub-info">
   
            <time class="post-pub-date">{{singleArticle.publishedAt| dateFormatter:'long'}}</time>
            <div class="post-pub-read-time">{{singleArticle.readTime}} min read</div>
         
      </div>
         </div>
      </div>
      

            <div class="flex ai-c jc-sb mb-1r">
               <div class="post-category">
               <i class="material-icons-outlined">label</i>
               <a (click)="goToPage(['category/',singleArticle.category])">
                  
                  {{singleArticle.category}}
               </a>
               
            </div>
            <div class="flex ai-c gap-1r">
               
               <div class="post-pub-views ">
                  <i class="material-symbols-rounded">comment</i>
                  <span>{{singleArticle.comments.length}}</span>
               </div>
               <div class="post-pub-views ">
                  <i class="material-symbols-rounded">monitoring</i>
                  <span>{{singleArticle.views}}</span>
               </div>
            </div>
         </div>
         <div class="flex jc-sb ai-c flexw-w">
            <div class="post-tags-wrapper" >
               <a href="" *ngFor="let tag of singleArticle.tags" class="post-tag">#{{tag}}</a>
               
            </div>
            <div class="post-share-btns-wrapper">
               <button class="post-share-btn material-icons-outlined share-icon">share</button>
               <div class="post-share-btns-inner">
                  <button class="post-share-btn" (click)="shareToSocial('facebook',{'url':singleArticle.slug,'text':singleArticle.title})" title="share to facebook"><i class="devicon-facebook-plain colored"></i></button>
                  <button (click)="shareToSocial('twitter',{'url':singleArticle.slug,'text':singleArticle.title})"  class="post-share-btn" title="share to twitter"><i class="devicon-twitter-plain colored"></i></button>
                  <a  class="post-share-btn material-icons-outlined" title="{{copyLinkTitle}}" (click)="copyLink('https://twitter.com/share?url=/article/'+singleArticle.slug)">link</a>
               </div>
            </div>
         
      </div>
      <div class="post-hero-image-wrapper">
         <img src="{{singleArticle.heroImage}}" alt="" class="post-hero-image" />
      </div>
      <div class="post-content" [innerHTML]="singleArticle.content">
         
         
        
       
      </div>
      
      <div class="author-card">
         <div class="author-card-title">about the author</div>
         <div class="flex ai-c gap-1r">
            
            <div class="author-image-wrapper">
               <a routerLink="{{'author/'+singleArticle.author.username}}" class="author-link"></a>
               <img src="{{singleArticle.author.profileImage}}" alt="" class="author-image"></div>
               <div class="flex flex-d-col  ">
                  <div class="author-name flex aic-c">
                     <a (click)="goToPage(['author/',singleArticle.author.username])" class="">{{singleArticle.author.fullname}}</a>
                  </div>
               
                  <div class="author-socials">
                     <a href="" class="post-share-btn"><i class="devicon-github-plain colored"></i></a>
                     <a href="" class="post-share-btn"><i class="devicon-twitter-plain colored"></i></a>
             <a href="" class="post-share-btn"><i class="devicon-linkedin-plain colored"></i></a>
             
            </div>
         </div>
      </div>
      
      <div class="author-card-bio" [innerHtml]="singleArticle.author.bio">
         
      </div>
   </div>
<!-- </div> -->
</div>
<!--<ng-http-loader  [minDuration]="300" [backdropBackgroundColor]="'#fff'" [backgroundColor]="'#67fcd6'" [opacity]="'1'"></ng-http-loader>
   <<router-outlet></router-outlet>
-->