* {
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
   font-family: inherit;
}
html{
   --secondary-color:#022408;
   --link-color:#047F63;
   --link-color-light:#047F6311;
   --primary-color:#b8293d;
   --primary-color-light:#b8293d11;
   --alternative-color:#596e5c;
}
body{
   background: #f1f1f1;
   font-family: 'Poppins',sans-serif;
}
.grey-bg{
   background: #f5f5f5;
}
.rad-5{
   border-radius: 5px;
}
.pad-10{
   padding: 10px;
}
.pad-y-10{
padding-top: 10px;
padding-bottom: 10px;
}
.pad-y-5{
padding-top: 5px;
padding-bottom: 5px;
}
.pad-x-5{
   padding-left: 5px;
   padding-right: 5px;
}
.material-symbols-rounded{
   overflow: hidden;
   line-height: 1;
  
}
.flex{
   display: flex;
}
.flex-d-col{
   flex-direction: column;
}
.jc-sb{
   justify-content: space-between;
}
.jc-c{
   justify-content: center;
}
.ai-c{
   align-items: center;
}
.gap-05r{
   gap:0.5rem;
}
.gap-1r{
   gap:1rem;
}
.flexw-w{
   flex-wrap:wrap;
}
.mb-10{
   margin-bottom: 10px;
}
.mb-1r{
   margin-bottom: 1rem;
}
img{
   max-width: 100%;
   max-height: 100%;
}

a {
color: var(--link-color);
text-decoration: none;
}
a.primary{
   color: #333;
}
a.primary:hover{
   color: var(--link-color);
}
a,
button {
   cursor: pointer;
background: none;
outline: none;
border: none;
}
h1,h2,h3,h4,h5,h6{
   margin: 2rem 0 ;
}
p{
   margin: 1rem 0;
   line-height: 1.4;
}
blockquote{
   margin: 2rem 0;
   margin-left: 1rem;
   padding: 0.75rem;
   border-radius: 0.5rem;
   padding-left: 1.5rem;
   border-left: 4px solid var(--primary-color);
   background: var(--primary-color-light);
   color: var(--secondary-color);
   line-height: 1.4;
}
ul,ol{
   margin: 1rem 0;
   padding-left: 30px;
}
ol{
   counter-reset: list-number
}
ul li,ol li{
   list-style: none;
   margin: 0.625rem 0;
   
}
ol li::before{
   counter-increment: list-number;
  content:"0" counter(list-number) ;
  color:var(--primary-color);
  font-weight: 500;
  margin-right: 0.5rem;
  
}
ul li{
   position: relative;
}
ul li::before{
   content: "";
   width: 5px;
   height: 5px;
   border-radius: 50%;
   background:var(--primary-color);
      border: 0.5px solid var(--primary-color);
position: relative;
top: 45%;
transform: translateY(-40%);
   display: inline-block;
   margin-right: 8px;
}

ul ul li::before{
   background: transparent;
   border: 1px solid var(--primary-color);
}
ul ul ul li::before{
   background: var(--primary-color);
   border-radius: 0!important;
       border: 0.5px solid var(--primary-color);
  
}
.container{
   max-width: 1300px;
   margin: 0 auto;
}
.icon{
   font-size: 22px;
   color: var(--alternative-color);
}
.icon-wrapper{
   display: flex;
   align-items: center;
   font-size: 18px;
}
/* global class for author */
.author-name{
   text-transform: capitalize;
   font-weight: 600;
   display: flex;
   align-items: center;
   gap:1rem;
}
.author-image-wrapper {
   width: 3rem;
   height: 3rem;
   border-radius: 50%;
   position: relative;
   --over:8px;
   transition: 0.75s;
}

.author-image {
   position: absolute;
   width: 100%;
   height: 100%;
   border-radius: inherit;
   object-fit: cover;
   border: 2px solid #fff;
   margin: 0;
   z-index:2;
}

.author-image-wrapper::before {
   content: "";
   position: absolute;
   width: calc(100% + var(--over));
   height: calc(100% + var(--over));
   background: var(--link-color);
   bottom: -4px;
   left: -4px;
   transition: 0.4s;

   border-radius: 50%;
   /*clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);*/
}
.author-link{
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   display: block;
   z-index: 3
}
.author-image-wrapper::after{
   content:"";
   position: absolute;
   width:calc(100% + var(--over));
   height: 45%;
   background: #fff;
   top:50%;
   left: -4px;
   transform: translateY(-50%);
}
.divider {
   display: inline-block;
   width: 2px;
   height: 1.5rem;
   background: #ccc;
   border-radius: 1rem;
}