<style>
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
</style>
<header class="banner">
   <div class="banner-bg" style="background-image:url(https://images.pexels.com/photos/2350592/pexels-photo-2350592.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) ;">

   </div>
</header>
<main class="container">
   <div class="categories-container">
      <ul class="category-list">
<li class="category-item" >
   <a  class="category-item-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" routerLink="" >
      <span class="flex ai-c gap-05r">

         <i class="material-symbols-rounded">personalized_recommendations</i> feed
         
      </span>
      </a>
</li>
<li class="category-item" >
   <a  class="category-item-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:false}" routerLink="" [queryParams]="{sort:'popular'}">
      <span class="material-symbols-rounded">star</span>
      popular</a>
</li>

      </ul>
   </div>
  <div class="cards-container" >
     <article class="card" *ngFor="let article of allArticles">

        <app-article-card  [article]="article">
           
      </app-article-card>
   </article>
         
  </div>
  </main>
<!-- <router-outlet></router-outlet> -->
