
.banner{
   position: relative;
   width: 100%;
   height: 300px;
   margin: 0 auto;
   margin-bottom: 1.5rem;
}
.banner-bg{
   background-size:cover;
   background-position:center;
   background-repeat:no-repeat;
   width: 100%;
   height: 100%;
}
.categories-container{
   position: sticky;
   top:0;
   left: 0;
   z-index:4
}
.category-list{
   display: flex;
   gap: 1rem;
   overflow-x: auto;
   background: #fff;
   padding: 1rem;
   padding-bottom: 0;
   border-radius: 0.375rem;
   box-shadow: 3px 3px 6px #0003;
  

}
.category-list::-webkit-scrollbar{
   width: 0;
   height: 0;
   display: none;
}
.category-list li::before {
   display: none !important;
}

.category-item {
   /* border-radius: 2rem; */
   font-weight: 500;
   text-transform: uppercase;
   font-family: inherit;
   margin-bottom: 0;
   flex-shrink:0;
}

.category-item-link {
   border-radius: inherit;
   /* border: 2px solid #ccc; */
   border-bottom: 3px solid 
   #ccc0;
   color:#bbb;
   display: block;
   height: 100%;
   padding: 0.5rem 1rem;

}
.category-item-link:hover{
   color: var(--link-color);
}
.category-item-link.active {
   color: var(--link-color);
   border-color: var(--link-color);
}

.container{
   background: #fff;
   max-width: 1400px;
}
.cards-container{
   padding: 1rem;
   display: flex;
   /* align-items: center; */
   justify-content: center;
   flex-wrap: wrap;
   gap: 2rem;
   box-shadow: 0 4px 8px #0002;
}

.card{
   border-radius: 0.5rem;
   background: #fff;
   flex-shrink: 0;
   width: 100%;
   max-width: 400px;
   /* box-shadow: 5px 6px 10px #0002,-6px 5px 19px #0002; */
      box-shadow: 4px 5px 8px #0003;

   font-family: 'Nunito',sans-serif;
   padding: 1rem;
   display: flex;
   flex-direction: column;
}
