
.categories-container{
   position: sticky;
   top:0;
   left: 0;
   z-index:4
}
.category-list{
   display: flex;
   gap: 1rem;
   overflow-x: auto;
   background: #fff;
   padding: 1rem;
   padding-bottom: 0;
   border-radius: 0.5rem;
   box-shadow: 3px 3px 8px #0003;
  

}
.category-list::-webkit-scrollbar{
   width: 0;
   height: 0;
   display: none;
}
.category-list li::before {
   display: none !important;
}

.category-item {
   /* border-radius: 2rem; */
   font-weight: 600;
   text-transform: uppercase;
   font-family: inherit;
   margin-bottom: 0;
   flex-shrink:0;
}

.category-item-link {
   border-radius: inherit;
   /* border: 2px solid #ccc; */
   border-bottom: 2px solid 
   #ccc0;
   color:#bbb;
   display: block;
   height: 100%;
   padding: 0.5rem 1.5rem;

}
.category-item-link:hover{
   color: var(--link-color);
}
.category-item-link.active {
   color: var(--link-color);
   border-color: var(--link-color);
}

.container{
   background: #fff;
}
.cards-container{
   padding: 1rem;
   display: flex;
   /* align-items: center; */
   justify-content: center;
   flex-wrap: wrap;
   gap: 2rem;
}

.card{
   border-radius: 0.75rem;
   background: #fff;
   flex-shrink: 0;
   width: 100%;
   max-width: 400px;
   /* box-shadow: 5px 6px 10px #0002,-6px 5px 19px #0002; */
      box-shadow: 3px 6px 10px #0003;

   font-family: 'Nunito',sans-serif;
   padding: 1rem;
   display: flex;
   flex-direction: column;
}
.card-image-wrapper{
   height: 250px;
   width: 100%;
   background: #000;
   border-radius: 0.75rem ;
   position: relative;
}
.card-image{
   width: 100%;
   height: 100%;
   object-fit: cover;
      border-radius: inherit;
      position: absolute;
}
.card-details{
   /* padding:1rem 0.75rem; */
   display: flex;
   align-items: center;
   width: 100%;
   gap:0.5rem;
   font-size: 14px;
   font-family: 'Poppins',sans-serif;
}
.card-category{
   text-transform: uppercase;
   font-weight: 500;
   color: var(--alternative-color);
   font-size: 14px;
}
.card-info{
   padding-top: 1rem;
   padding-bottom: 0;
   flex: 1
}
.card-info-inner{
   margin-bottom: 1rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   font-family: 'Poppins',sans-serif;
   
   
}
.card-title{
   text-transform: capitalize;
   margin: 1rem 0;
}
.card-desc{
   margin:0.5rem 0 ;
}
.card-views,.card-comment{
   color: var(--alternative-color);
   font-weight: 500;
   display: flex;
   align-items: center;
   gap:0.25rem;
   font-size: 14px;
}

.card-author{
   display: flex;
   align-items: center;
   text-transform: uppercase;
   gap:0.5rem;
   color: var(--alternative-color);
}
.card-author-name{
   text-decoration: none;
   color: var(--link-color);
}
.card-pubdate{
   text-transform: uppercase;
   font-weight: 500;
      color: var(--alternative-color);
font-size: 14px;

}
