<style>
  @import url("https://fonts.googleapis.com/icon?family=Material+Icons");
</style>

<div class="container">
   <div class="categories-container">
      <ul class="category-list">
<li class="category-item">
   <a  class="category-item-link" (click)="getArticleByCategory('owls')">owls</a>
</li>
<li class="category-item" (click)="getArticleByCategory('junk')">
   <a  class="category-item-link">junk</a>
</li>
<li class="category-item">
   <a  class="category-item-link" (click)="getArticleByCategory('junks')">junks </a>
</li>
      </ul>
   </div>
  <div class="cards-container">
    <div class="card" *ngFor="let article of allArticles">
            <div class="card-image-wrapper">
               <img src="{{article.heroImage}}" alt="" class="card-image">
            </div>
            <div class='card-info'>
               <div class='card-info-inner'>
                  <span class='card-category'>{{article.category ? article.category : ''}}</span>
                  <div class='flex gap-1r ai-c'>
                     <span class='icon-wrapper card-comment'><i class='material-icons-outlined icon'>menu_book</i>{{article.readTime}}</span>
                     <span class='icon-wrapper card-comment'><i class='material-icons-outlined icon'>comment</i>{{article.comments ? article.comments.length : 0}}</span>
                     <span class='icon-wrapper card-views'><i class='material-icons-outlined icon'>visibility</i> {{article.views}}</span>
                  </div>
               </div>
               <h2 class='card-title'><a [routerLink]="['article/',article.slug]" class="primary">
                  {{article.title}}
               </a>
               </h2>
    
               <div class="card-desc" [innerHtml]="article.intro ? shortenText(article.intro) : shortenText(article.content)">
                 
               </div>
            </div>
            <div class="card-details">
               <div class='author-image-wrapper'>
                  <img class='author-image' src='{{article.author.profileImage}}' />
               </div>
               <span class='card-author'>
                  By
                  <a class='card-author-name' [routerLink]='["author/",article.author.username]'>{{article.author.fullname}}</a></span>
               <span class='divider'></span>
               <time class='card-pubdate'>{{formatDate(article.publishedAt)}}</time>
    
            </div>
         </div>
  </div>
  </div>
  <ng-http-loader  [minDuration]="300" [extraDuration]="300" [backdropBackgroundColor]="'#fff'" [backgroundColor]="'yellow'" [opacity]="'1'"></ng-http-loader>
<!-- <router-outlet></router-outlet> -->
