<div class="cards-container">
  <div class="card" *ngFor="let article of articles">
    <div class="card-image-wrapper">
      <a routerLink="{{ '/article/' + article.slug }}">
        <img src="{{ article.heroImage }}" alt="" class="card-image" />
      </a>
    </div>
    <div class="card-details">
      <h2 class="card-title">
        <a routerLink="{{ '/article/' + article.slug }}">
          {{ article.title }}
        </a>
      </h2>
      <div class="card-meta">
        <span class="card-meta-category">{{ article.category }}</span>
        <div class="divider"></div>
        <time class="card-meta-pubdate">{{
          article.publishedAt | dateFormatter
        }}</time>
        <div class="divider"></div>
        <span class="card-meta-author">{{ article?.author?.fullname }}</span>
      </div>

      <div
        class="card-desc"
        [innerHTML]="article.content | textShortener"
      ></div>
    </div>
  </div>
</div>
